body{margin:0;padding:0;background-color:#000;overflow:hidden;}
#bg{position:absolute;top:0;z-index:0;display:none;}
a {display:none;position:absolute;bottom:0;left:10%;color:white;z-index:1;text-decoration:none;}