 body{font-family:helvetica,arial,sans-serif;}
 a {text-decoration:none;color:#000;font-weight:700;}
  #namediv{position:absolute;bottom:0;left:0;background-color:#55a;border-top-right-radius:100%;border-top:5px solid #114;border-right:5px solid #114;color:#112;width:200px;height:200px;}
  #namediv:hover{background-color:#77c;}
  #firstname{margin:85px 0 0 5px;font-size:50px;line-height:50px;letter-spacing:-3px;}
  #lastname{margin:0 0 0 20px;font-size:40px;line-height:20px;letter-spacing:-2px;}
  .navcircle{position:absolute;width:80px;height:80px;border-radius:100%;text-align:center;line-height:80px;font-size:18px;}
  #nav_contact{background-color:#b44;border:5px solid #411;left:210px;bottom:5px;color:#211;}
  #nav_resume{background-color:#1a6;border:5px solid #152;left:135px;bottom:143px;color:#121;}
  #nav_photos{background-color:#19a;border:5px solid #056;left:183px;bottom:78px;color:#122;}
  #nav_work{background-color:#dd2;border:5px solid #771;left:73px;bottom:188px;color:#441;}
  #nav_about{background-color:#939;border:5px solid #515;left:1px;bottom:210px;color:#212;}
  #header{position:fixed;left:0px;bottom:0px;}
  #next:hover,#prev:hover{cursor:pointer;}
  #next{float:right;}
  #prev{float:left;}
  #twitter{position:fixed;right:80px;bottom:15px;}
  #imdb{position:fixed;right:20px;bottom:15px;}
  #email{position:fixed;right:140px;bottom:15px;}
  #evolution{position:fixed;right:201px;bottom:15px;}
  #rpm{position:fixed;right:388px;bottom:15px;}
  iframe{margin-top:50px;}
  
  
  
  h1 {margin:0;color:#112;}
.content_wut{background-color:white;border-radius:10px;width:1000px;margin:30 auto;padding:20px;border: 1px solid #112;}

.content{ text-align:left;width:800px;background-image:url('wht70.png');padding:50px;overflow:auto;border-radius:20px;font-size:150%;border:1px solid #9ED0E7; }

@media (min-width: 1400px) {
      .aboutbox, .content{margin:50px auto}
}

@media (max-width: 1399px) {
      .aboutbox, .content{margin:50px 0 50px 275px;}
}

.contactbox p {margin:0;font-size:20px;line-height:22px;}
.contactbox a {margin:0}

.workpage img {border:1px solid #9ED0E7;}

#menu_wrapper {-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color:#b3b3b3;
    border: 1px solid #458bc6;
	background: #73d1f4;
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
	text-shadow: -1px -1px 0 #458bc6;
	margin:10px 0 10px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#63c1e4), to(#43a1c4));
	background: -moz-linear-gradient(top,  #63c1e4,  #43a1c4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#63c1e4', endColorstr='#43a1c4');}
#menu {			
	font-weight: bold;
	text-transform: uppercase;
	margin:0;
	padding: 0;
	list-style-type: none;
	font-size: 13px;
	height: 40px;}
#menu li {
	float: left;
	margin: 0;
}
#menu li a {
	text-decoration: none;
	display: block;
	padding: 0 20px;
	line-height: 40px;
	color: #fff;}
#menu li a:hover, #menu li.active a {
	background-color: #53b1d4;
	border-bottom: 1px solid #356AA0;
	color: #fff;
	-moz-box-shadow: inset 0 1px 0 0 #ccc;
	-webkit-box-shadow: inset 0 1px 0 0 #ccc;
	box-shadow: inset 0 1px 0 0 #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#53b1d4), to(#3391d4));
	background: -moz-linear-gradient(top,  #63c1e4,  #43a1c4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#63c1e4', endColorstr='#43a1c4');
}
#menu_wrapper ul {margin-left: 12px;}
#menu_wrapper div {float: left; height: 44px; width: 12px;}

.btn {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    clear:both;
	display: inline-block;
	width:300px;
	height:60px;
	padding: 0px;
	text-align:center;
	line-height:60px;
    text-decoration: none;
	font-size: 20px;
	font-weight:bold;
    background-color: #c0bbbe;
    border: 1px solid #458bc6;
	color: #fff;
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
	text-shadow: -1px -1px 0 #458bc6;
	background: -webkit-gradient(linear, left top, left bottom, from(#63c1e4), to(#43a1c4));
	background: -moz-linear-gradient(top,  #63c1e4,  #43a1c4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#63c1e4', endColorstr='#43a1c4');
}
.btn:hover {	background: -webkit-gradient(linear, left top, left bottom, from(#43a1c4), to(#63c1e4));
	background: -moz-linear-gradient(top,  #43a1c4,  #63c1e4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a1c4', endColorstr='#63c1e4');}

.hero{	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
	background: -moz-linear-gradient(top,  #444,  #333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444', endColorstr='#333');
	border-radius:10px;background-color:#333;width:100%;border: 1px solid #458bc6;height:346px;color:#fff;}
.heroimg{float:left;}
.herocontent{width:408px; text-align:center; float:left;height:100%;margin-left:25px;}

#footer{text-align:center;}