 body{font-family:helvetica,arial,sans-serif;}
 a {text-decoration:none;color:#000;font-weight:700;}
  #namediv{position:absolute;bottom:0;left:0;background-color:#55a;border-top-right-radius:100%;border-top:5px solid #114;border-right:5px solid #114;color:#112;width:200px;height:200px;}
  #namediv:hover{background-color:#77c;}
  #firstname{margin:85px 0 0 5px;font-size:50px;line-height:50px;letter-spacing:-3px;}
  #lastname{margin:0 0 0 20px;font-size:40px;line-height:20px;letter-spacing:-2px;}
  .navcircle{position:absolute;width:80px;height:80px;border-radius:100%;text-align:center;line-height:80px;font-size:18px;}
  #nav_contact{background-color:#b44;border:5px solid #411;left:210px;bottom:5px;color:#211;}
  #nav_resume{background-color:#1a6;border:5px solid #152;left:135px;bottom:143px;color:#121;}
  #nav_photos{background-color:#19a;border:5px solid #056;left:183px;bottom:78px;color:#122;}
  #nav_work{background-color:#dd2;border:5px solid #771;left:73px;bottom:188px;color:#441;}
  #nav_about{background-color:#939;border:5px solid #515;left:1px;bottom:210px;color:#212;}
  #header{position:fixed;left:0px;bottom:0px;}
  #next:hover,#prev:hover{cursor:pointer;}
  #next{float:right;}
  #prev{float:left;}
  #twitter{position:fixed;right:80px;bottom:15px;}
  #imdb{position:fixed;right:20px;bottom:15px;}
  #email{position:fixed;right:140px;bottom:15px;}
  #evolution{position:fixed;right:201px;bottom:15px;}
  #mag{position:fixed;right:388px;bottom:15px;}
  iframe{margin-top:50px;}